header {
  background-color: $background-color;
  backdrop-filter: blur(15px);
  color: $text-color;
  border-bottom: 2px solid $audiocolor;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;

  &__links {
    color: $text-color;
    font-family: 'Montserat';
    font-size: 20px;
  }

  &__links:hover {
    color: $text-color;
    border-bottom: 3px solid black;
  }
}

.register__buttons {
  max-width: max-content;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.button__header {
  background-color: transparent;
  border: none;
  font-size: 14px;

  &:hover {
    border-bottom: 1px solid black;
  }
}

span {
  font-size: 20px;
}

.button__header{
  color: $text-color;
}
